.Headings{
    padding-top: 1.2rem;
    background-image: url("https://drive.google.com/uc?export=view&id=10yMRwJwVHXdQIx-thmzCGAMxoqEVEMoD");
    background-size: cover;
    height: 65vh;
    background-position: center;
    opacity: 0.8;
    background-attachment: fixed;

}
