.contact-section{
    width: 80%;
    height: 85vh;
    background-image: linear-gradient(to bottom left,#ff4900,#ad1457);
    color: white;
    text-align: center;
    margin: auto;
}
.contact-section h1{
    width: 100%;
    height: 10vh;
    margin: auto;
   
}

.contact{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 60vh;
    margin: auto;
}

.contact section{
    width: 40%;
    height: 50vh;
    margin: auto;
}

.personal-info{
    text-align: left;
    color: white;
}
.personal-info h3{
    font-weight: 700;
    margin: 1em;
    margin-left: 0%;
}

#social-icon{
    width: auto;
    height: 10vh;
    padding: 0px 33.4em;
    padding-bottom: 2.5em;
    
}
